<div class="container">
  <nav class="turnos">
    <div class="detail-turno">
      <a class="detail-list active">Novedades</a>
      <a class="detail-list">Calendario</a>
      <a class="detail-list">Lista</a>
      <a class="detail-list">Asistencia</a>
      <a class="detail-list">Boletines</a>
      <a class="detail-list">Mensajes</a>
    </div>
    <div class="icon-nav">

        <span class="icon active-icon pi pi-list" aria-hidden="true"></span>

        <span class="icon pi pi-th-large" aria-hidden="true"></span>

    </div>
  </nav>

  <section class="main-section">
    <main class="body">

      <app-card-event-body>  </app-card-event-body>
      <app-card-event-body>  </app-card-event-body>
      <app-card-event-body>  </app-card-event-body>
    </main>
    <aside class="aside-event">
      <h2>Próximos eventos</h2>
        <app-card-event>  </app-card-event>
        <app-card-event>  </app-card-event>
        <app-card-event>  </app-card-event>

        <h4>Ver</h4>


    </aside>


  </section>
  </div>
