<div class="container">
  <div class="barra-navegacion">
    <div class="opciones-izquierda">
      <button [class.active]="tablaActual === 'comunicaciones'" (click)="mostrarTabla('comunicaciones')">Comunicaciones</button>
      <button [class.active]="tablaActual === 'calendario'" (click)="mostrarTabla('calendario')">Calendario</button>
      <button [class.active]="tablaActual === 'alumnos'" (click)="mostrarTabla('alumnos')">Alumnos</button>
      <button [class.active]="tablaActual === 'asistencia'" (click)="mostrarTabla('asistencia')">Asistencia</button>
      <button [class.active]="tablaActual === 'boletines'" (click)="mostrarTabla('boletines')">Boletines</button>
    </div>
    <div class="iconos-derecha">
      Profesora: Maria Vergara
    </div>
  </div>

  <section class="main-section">
    <main class="body">
      @if (tablaActual === 'comunicaciones') {
        <div class="container-comunicaciones">
          <app-news-grade></app-news-grade>
          <aside class="aside-event">
            <h2>Próximos eventos</h2>
              <app-card-event>  </app-card-event>
              <app-card-event>  </app-card-event>
              <app-card-event>  </app-card-event>
              <h4>Ver Todos</h4>
          </aside>
        </div>
      }
      @if (tablaActual === 'asistencia') {
        <app-asistencia></app-asistencia>
      }
      @if (tablaActual === 'calendario') {
        <app-calendar></app-calendar>
      }

    </main>


  </section>
  </div>
