<div class="institutional-tables">
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Grado</th>
                    <th>Seccion</th>
                    <th>Asignatura</th>
                    <th>Turno</th>
                    <th></th>
                </tr>
            </thead>
        </table>
        <div class="table-body">
            <table>
                <tbody>
                    @for (profesor of profesores; track profesor.id) {
                        <tr>
                            <td>
                                <div class="picture-table">
                                    <img src="#" alt="Profile Picture"/>
                                    <p>{{ profesor.nombre }}</p>
                                </div>
                            </td>
                            <td>
                                <ul>
                                    <!-- Mostrar el nombre del grado en lugar del ID -->
                                    <li *ngFor="let gradoId of profesor.gradoIds">
                                      {{ getGradoById(gradoId) }}
                                    </li>
                                  </ul>
                            </td>
                            <td>{{ profesor.institucion }}</td>
                            <td>{{ profesor.materia }}</td>
                            <td>{{ profesor.rol}}</td>
                            <td><button type="button" class="btn-cta" (click)="openModal(profesor)">CTA</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
