
   <!--NAVBAR-->
<div class="container-position">
    <app-navbar></app-navbar>
    <div class="container-institutional">
        <!-- QUANTITY -->
        <app-user-quantity></app-user-quantity>
         <!-- Barra de navegación -->
        <app-navbar-institutional></app-navbar-institutional>
       <!--Bonton agregar-->
        <div class="container-btn">
            <button class="btn-add" type="button" (click)="reDirigir()"><i class="pi pi-plus"></i></button>
            <div>Añadir</div>
        </div>
    </div>

</div>
