<div class="institutional-tables">
    <div class="table-wrapper">
        <table>
            <thead>
                <tr class="header" >
                    <th >Nombre <i class="pi pi-arrow-down "></i></th>
                    <th>Legajo</th>
                    <th >Fecha de Nacimiento</th>
                    <th>Grado</th>
                    <th>Seccion</th>
                    <th>Turno</th>
                    <th></th>
                </tr>
            </thead>
        </table>
        <div class="table-body">
            <table>
                <tbody>
                    @for (person of persons; track person.id) {
                        <tr>
                            <td class="header">
                                <div class="picture-table">
                                    <img src="#" alt="Profile Picture"/>
                                    <p>{{ person.nombre }}</p>
                                </div>
                            </td>
                            <td>{{ person.legajo }}</td>
                            <td>{{ person.fechaNacimiento }}</td>
                            <td>{{ person.grado }}</td>
                            <td>{{ person.seccion }}</td>
                            <td>{{ person.turno }}</td>
                            <td><button type="button" class="btn-cta" (click)="openModal(person)">CTA</button></td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


  