.institutional-tables {
    height: 45vh;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #EEEEEE;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    border: none;
    table-layout: fixed; 
}

thead {
    background-color: #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
    position: -webkit-sticky; 
    position: sticky;
    top: 0; 
    z-index: 1; 
}

.table-body {
    height: calc(52vh - 40px);
    overflow-y: auto;
}
.table-body::-webkit-scrollbar {
    width: 0;
}
td {
    padding: 0.4rem 1rem;
    text-align: left;
    border-bottom: 1px solid #dddddd;
    font-size: 0.75rem;
    
}

th {
    background-color: #262853;
    color: white;
    font-weight: 600;
    letter-spacing: 0.05rem;
    padding: 0rem 1rem;
    text-align: left;
    border-bottom: 1px solid #dddddd;
    font-size: 0.7rem;
    height: 8vh;
}

.pi-arrow-down {
    font-size: 0.5rem;
    
}

tr:nth-child(odd) {
    background-color: #FFFFFF;
}

tr:nth-child(even) {
    background-color: #F7F7F7;
}

tr:hover {
    background-color: #f1f1f1;
}

.table-body::-webkit-scrollbar-thumb {
    background: #CCCCCC;
    border-radius: 4px;
}
.picture-table{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 0.6rem;
}
.picture-table img{
    border-radius: 50%;
    background-color: #adaaaa;
    width: 1.7rem;
    height: 1.7rem;
}
.btn-cta{
    width: 3.5rem;
    height: 1.6rem;
    border-radius: 15px;
    border: 1px solid #adaaaa;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.7rem;
    background-color: transparent;
}