    <!--Aqui va el sidebar-->

<div class="container-position">
    <main>
        <div class="panel">
            <div class="panel-left">
                <section class="admin">
                    <div class="admin-info">
                        <div class="admin-detail">
                            <h4>¡Hola Juana!</h4>
                            <p>Accedé a aulas virtuales y a acompañamiento de orientadores en línea para profundizar los contenidos escolares.</p>
                                <p>Requiere inscripción</p>
                        </div>
                        <div class="admin-picture">
                            <img src="/teachermain.png" alt="Picture of admin">
                        </div>
                    </div>
                </section>
                <section class="school-management">
                    <h4>Gestiones Escolares</h4>
                    <div class="school-management-option">
                        <article class="school-management-item color-1">
                            <button class="school-management-item-icon">
                                <i class="pi pi-plus"></i>
                            </button>
                           <div class="school-management-item-text">
                                <p>Crear nuevo evento</p>
                           </div>
                        </article>

                        <article class="school-management-item color-2">
                            <button class="school-management-item-icon">
                                <i class="pi pi-plus"></i>
                            </button>
                           <div class="school-management-item-text">
                                <p>Administrar cursos</p>
                           </div>
                        </article>


                        <article class="school-management-item color-3">
                            <button class="school-management-item-icon">
                                <i class="pi pi-users"></i>
                            </button>
                           <div class="school-management-item-text">
                                <p>Calificar alumnos</p>
                           </div>
                        </article>
                    </div>
                </section>

                <section class="activities">
                    <h4>Novedades</h4>
                    <div class="activities-container">
                        @for (activity of activities; track activity.id) {
                            <article class="activity-item">
                                <h5>{{ activity.name }}</h5>
                                <div class="activity-item-content">
                                  <p class="text">{{ activity.detail }}</p>
                                  <button class="btn-activities">Ver más</button>
                                </div>
                            </article>
                        }
                    </div>
                </section>
            </div>


            <div class="panel-right">
                <div class="calendar">
                    <h4>Próximos Eventos</h4>
                    <div class="eventos">
                        <div class="eventos-items">
                            <h6>Reunión de padres</h6>
                            <p>21/06 - 11:00-12:00</p>
                        </div>
                        <div class="eventos-items">
                            <h6>Acto por San Martin</h6>
                            <p>21/06 - 11:00-12:00</p>
                        </div>
                        <h5>Ver todos</h5>
                    </div>
                </div>
                <div class="teacher">
                    <div class="teacher-header">
                        <h4>Maestros</h4>
                        <h4>6</h4>
                    </div>
                    <div class="teacher-container">
                        @for (teacher of teachers; track teacher.id) {
                            <div class="teacher-container-items">
                                <div class="teacher-picture">
                                    <img src="/Ellipse 99.png" alt="Picture of teacher">
                                </div>

                                <div class="teacher-details">
                                    <h5>{{teacher.name}} <em>{{teacher.parallel}}</em></h5>
                                    <p>{{teacher.asignature}}</p>
                                </div>
                                <div class="teacher-message">
                                   <i class="pi pi-envelope"></i>
                                </div>
                              </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


