.navbar {
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #787878;
    width: 100%;
    height: 9vh;
    background-color: #EAEDF5;
    z-index: 1000;
}

.navbar .title-main {
    font-size: 1.2rem;
    color: #201B1B;
    margin: 0;
    padding: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: #bababa;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: solid 1px #bababa;
    padding: 0.5rem;
}

.pi {
    color: #201B1B;
}

.navbar .perfil {
    display: flex;
    gap: 0.5rem;
    height: 2.1rem;
    width: 2.5rem;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.p-badge {
   background-color: red;
   color: white;
   font-size: 12px;
   border-radius: 50%;
   padding: 0.25em 0.5em;
   position: absolute;
   top: -5px;
   right: -10px;
 }

::ng-deep .p-overlaypanel {
   width: 300px;
 }

 ::ng-deep .p-overlaypanel ul {
   padding: 0;
   margin: 0;
   list-style: none;
 }

 ::ng-deep .p-overlaypanel li {
   padding: 10px;
   border-bottom: 1px solid #ddd;
   cursor: pointer;
 }

 .p-overlaypanel li:hover {
   background-color: #f0f0f0;
 }

