<div class="institutional-tables">
    <div class="institutional-header">
        <h4>Alumnos</h4>
        <i class="pi pi-user-plus"></i>
    </div>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Legajo</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Promedio</th>
                    <th>Tutores</th>
                    <th></th>
                </tr>
            </thead>
        </table>
        <div class="table-body">
            <table>
                <tbody>
                    @for (person of persons; track person.id) {
                        <tr>
                            <td>
                                <div class="picture-table">
                                    <img src="#" alt="Profile Picture"/>
                                    <p>{{ person.nombre }}</p>
                                </div>
                            </td>
                            <td>{{ person.legajo }}</td>
                            <td>{{ person.fecha }}</td>
                            <td>{{ person.promedio }}</td>
                            <td>{{ person.tutores }}</td>
                            <td><button class="btn-cta">CTA</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
