@import "primeicons/primeicons.css";
img{
  width: 7rem;
  height: auto;
  margin: 0 0 1.25rem 2.125rem;
}
.custom-panel-menu {
background-color: #E7EAF5;
padding-top: 2em;
padding-left: .625rem;
padding-right: .625rem;
  left: 0;
  width: 220px;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;

}

