@import "primeicons/primeicons.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

