<div class="container-position">
   <div class="formulario-container">
       <form [formGroup]="formTeacher">
           <!-- Parte superior del formulario -->
           <div class="formulario-parte-superior">
               <h2>Datos del profesor</h2>

               <div class="fila">
                   <div class="campo">
                       <label for="nombres">Nombres</label>
                       <input type="text" id="nombre " formControlName="nombre" placeholder="Ingrese nombres" required />
                   </div>
                   <div class="campo">
                       <label for="apellidos">Apellidos</label>
                       <input type="text" id="apellido" formControlName="apellido" placeholder="Ingrese apellidos" required />
                   </div>
               </div>

               <div class="fila">
                   <div class="campo">
                       <label for="dnidni">Tipo de documento</label>
                       <select id="tipoDocumento" formControlName="tipoDocumento" required>
                           <option value="DNI">DNI</option>
                           <option value="PASAPORTE">Pasaporte</option>
                       </select>
                   </div>
                   <div class="campo">
                       <label for="numero-documento">N°</label>
                       <input type="text" id="dni" formControlName="dni" placeholder="Ingrese documento" required />
                   </div>
               </div>

               <div class="fila">


               </div>

               <div class="fila">
                   <div class="campo">
                       <label for="correo">Correo</label>
                       <input type="email" id="correo" formControlName="email" placeholder="Ingrese correo" required />
                   </div>
                   <div class="campo">
                       <label for="telefono">Teléfono</label>
                       <input type="tel" id="telefono" formControlName="telefono" placeholder="Ingrese teléfono" required />
                   </div>
               </div>
           </div>

           <!-- Parte inferior del formulario -->
           <div class="formulario-parte-inferior">
               <h2>Datos de contratación</h2>





               <div class="fila">
                   <div class="campo">
                       <label for="grado-cargo">Password</label>
                       <input type="password  " id="contrasena" formControlName="contrasena" placeholder="Ingrese Contraseña" />
                   </div>
                   <div class="campo">
                       <label for="seccion-cargo">Institucion</label>
                       <input type="text" id="institucion" formControlName="institucion" placeholder="Ingrese institucion" />
                   </div>
               </div>

               <!-- Botones dentro de la parte inferior del formulario -->
               <div class="botones-externos">
                   <button class="btn-cancelar" type="button">Cancelar</button>
                   <button class="btn-agregar-alumno" type="button">Agregar Alumno</button>
               </div>
           </div>
       </form>
   </div>

</div>
