<div class="card">
  <span class="icon pi pi-cog config" aria-hidden="true"></span>

  <div class="card-header">
    <img src="https://via.placeholder.com/300x200" alt="Card Image" class="card-image">
    <p class="grade-title">{{grade.curso}} - {{grade.aula}}</p>
    <p>Profesor : {{grade.profesor}}</p>
  </div>

  <div class="card-content">
    <h2 class="card-title">30 Alumnos</h2>
    <p class="card-description">22 padres</p>
    <button  class="card-button">Turno mañana</button>

  </div>
</div>
