.card {
   width: 18rem;
   display:flex;
   flex-direction: column;
   border: solid 2px #DADCE0;
   border-radius: 2em;
   padding: 1.5rem;

 }

 .icon {
   font-size: 2rem;
   color: #333;
   margin-left: auto;
   cursor: pointer;
   border: none;
   background: transparent;
   transition: transform 0.3s ease;
 }
 .icon.pi-cog:hover {
   transform: rotate(90deg);
 }


  ::ng-deep .custom-button .pi {
    font-size: 2em;

  }

 .card-header{
   display: flex;
   justify-content: center;
   align-items: center;
    cursor: pointer;
   flex-direction: column;
 }
 .card-image{
   margin-top: 1rem;
   max-width: 50%;
   max-height: 50%;
   width: 7rem;
   height: 7rem;
   border-radius: 50%;
   margin-bottom: 1rem;

 }
 p {
   margin: 0;
 }
 .grade-title{
   font-size: 1.3rem;
   font-weight: 500;


 }
 .profesor {
   color: #888888;
 }

 .card-button{
   border-radius: 2em;
   border: 3px solid #DADCE0;
   padding: 0.7rem;
   width: 50%;
   background-color: transparent;
 }
 .card-description{
   margin: 0;
   padding: 0;
   margin-top: 0;
   padding-top: 0;
   font-size: 0.8rem;
 }
 h4 {
   margin: 0.3rem 0;
   padding: 0;
 }
 hr {
   border-color: #C0C3C8 !important;
   border-width: 1px;
   margin: 10px 0;
 }
