<div class="card">


<p-button
   icon="pi pi-cog "
   (click)="menu.toggle($event)"
   class="custom-button icon config pi"
   [text]="true" [plain]="true"
   [rounded]="true"

   ></p-button>
<p-menu #menu [model]="items" popup="true" class="menuitem"></p-menu>



  <div class="card-header" (click)="navigateAsistencia()">
    <img src="infograde.png" alt="Card Image" class="card-image">
    <p class="grade-title">{{ grade.curso }} - {{ grade.aula }}</p>
    <p class="profesor">Profesor : {{ grade.profesor }}</p>
  </div>

 <hr class="divider">

  <div class="card-content">
    <h4 class="card-title">30 Alumnos</h4>
    <p class="card-description">22 padres</p>
  </div>

  <p-toast></p-toast>
</div>
