<div class="institutional-tables">
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Grado</th>
                    <th>Seccion</th>
                    <th>Asignatura</th>
                    <th>Turno</th>
                    <th></th>
                </tr>
            </thead>
        </table>
        <div class="table-body">
            <table>
                <tbody>
                    @for (person of persons; track person.id) {
                        <tr>
                            <td>
                                <div class="picture-table">
                                    <img src="#" alt="Profile Picture"/>
                                    <p>{{ person.nombre }}</p>
                                </div>
                            </td>
                            <td>{{ person.grado }}</td>
                            <td>{{ person.seccion }}</td>
                            <td>{{ person.deparatamento }}</td>
                            <td>{{person.categoria}}</td>
                            <td><button class="btn-cta">CTA</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
