<div class="institutional-statistics">
    <article class="institutional-statistics-items">
        <h6>Cantidad de alumnos</h6>
        <p class="quantities">300</p>
        <p class="details">18 nuevos</p>
    </article>
    <article class="institutional-statistics-items">
        <h6>Padres registrados</h6>
        <p class="quantities">50</p>
        <p class="details">18 nuevos</p>
    </article>
    <article class="institutional-statistics-items">
        <h6>Profesores vinculados</h6>
        <p class="quantities">20</p>
        <p class="details">18 nuevos</p>
    </article>
</div>