<div class="container">

    <div class="newsletter">
        <div class="entragados">
            <p>Entrega: 13/9</p>
        </div>
        <div class="faltantes">
            <p>Faltan 13 boletines - 10 dias</p>
        </div>
    </div>

    <div class="buttons-plus">
        <div class="container-btn ">
            <button class="btn-add" type="button"><i class="pi pi-plus"></i></button>
            <p>Cargar por materias</p>
        </div>
        <div class="container-btn ">
            <button class="btn-add" type="button"><i class="pi pi-plus"></i></button>
            <p>Cargar por alumnos</p>
        </div>
    </div>

</div>
