<div class="container">


   <div class="login-container">
       <div class="logo">
           <img src="logo.png" alt="Logo">
       </div>
       <form class="login-form" [formGroup]="formLogin" (ngSubmit)="sesionStart()">
           <div class="input-group">
               <label for="email">Email</label>
               <input type="email" formControlName="email" id="email" required>

               <p-message *ngIf="formLogin.controls['email'].invalid && formLogin.controls['email'].touched" severity="error" text="Correo inválido"></p-message>
           </div>

           <div class="input-group">
               <label for="contrasena">Contraseña</label>
               <input type="password" formControlName="contrasena" id="contrasena" required>
               <p-message *ngIf="formLogin.controls['contrasena'].invalid && formLogin.controls['contrasena'].touched" severity="error" text="Contraseña requerida"></p-message>
           </div>

           <div class="input-group remember-me">
               <label class="switch">
                   <input type="checkbox" id="remember-me">
                   <span class="slider"></span>
               </label>
               <label for="remember-me">Recordarme</label>
           </div>

           <button type="submit" class="btn">Iniciar Sesión</button>

           <div class="links">
               <a href="#">¿Olvidé mi contraseña?</a>
               <p>¿No tienes cuenta? <a class="inline-text" href="#">Regístrate</a></p>
           </div>
       </form>
       <p-toast></p-toast>
   </div>
</div>

