<app-navbar></app-navbar>
    <div class="container">
        <div class="model-container">
            <h3>Modelos de boletín</h3>
            <div class="model-boletin">
                <div class="model-boletin-items">
                    <div class="model-boletin-header">
                       <div class="model-boletin-header-detail">
                            <article><i class="pi pi-cog"></i></article>
                            <h4>Modelo 1</h4>
                            <p>5 asignaturas</p>
                       </div>
                    </div>
                    <div class="model-boletin-body">
                        <div class="moldel-grade">
                            <p>1er grado</p>
                        </div>
                        <div class="moldel-grade">
                            <p>2do grado</p>
                        </div>
                        <div class="moldel-grade">
                            <p>3er grado</p>
                        </div>    
                    </div>
                </div>

                <div class="model-boletin-items">
                    <div class="model-boletin-header">
                       <div class="model-boletin-header-detail">
                            <article><i class="pi pi-cog"></i></article>
                            <h4>Modelo 1</h4>
                            <p>5 asignaturas</p>
                       </div>
                    </div>
                    <div class="model-boletin-body">
                        <div class="moldel-grade">
                            <p>1er grado</p>
                        </div>
                        <div class="moldel-grade">
                            <p>2do grado</p>
                        </div>
                        <div class="moldel-grade">
                            <p>3er grado</p>
                        </div>    
                    </div>
                </div>
                <div class="new-model">
                    <div class="container-btn">
                        <button class="btn-add" type="button"><i class="pi pi-plus"></i></button>
                        <div>Nuevo modelo</div>
                    </div>
                </div>
            </div>
        </div>
        <app-navbar-grade-newsletter></app-navbar-grade-newsletter>
    </div>


