<p-dialog
  header="Usuarios de la plataforma"
  [(visible)]="displayModal"
  [modal]="true"
  [closable]="true"
  [draggable]="false"
> 
@if(user){
    <div class="user-info">
        <div class="info-row">
          <label>Nombre:</label>
          <span>{{ user.nombre }}</span>
        </div>
        <div class="info-row">
          <label>Apellido:</label>
          <span>{{ user.legajo }}</span>
        </div>
        <div class="info-row">
          <label>Fecha de Nacimiento:</label>
          <span>{{ user.fechaNacimiento }}</span>
        </div>
        <div class="info-row info-row-double">
         <div class="info-row-items">
           <label>Documento:</label>
           <span>{{ user.legajo }}</span>
         </div>
         <div class="info-row-items">
          <label>N°:</label>
          <span>{{ user.legajo }}</span>
        </div>
        </div>
        <div class="info-row">
          <label>Sexo:</label>
          <span>{{ user.sexo }}</span>
        </div>
        <div class="info-row">
          <div class="info-row-items">
            <label>Grado:</label>
            <span>{{ user.turno }}</span>
          </div>
          <div class="info-row-items">
            <label>Sección:</label>
            <span>{{ user.tutores}}</span>
          </div>
        </div>
         
      
      </div>
}
  
</p-dialog>


