<div class="container-institutional">
    <!-- Parte superior -->
    <div class="institutional-statistics">
        <article class="institutional-statistics-items">
            <h6>Cantidad de alumnos</h6>
            <p class="quantities">300</p>
            <p class="details">18 nuevos</p>
        </article>
        <article class="institutional-statistics-items">
            <h6>Cantidad de profesores</h6>
            <p class="quantities">50</p>
            <p class="details">18 nuevos</p>
        </article>
        <article class="institutional-statistics-items">
            <h6>Cantidad de cursos</h6>
            <p class="quantities">20</p>
            <p class="details">18 nuevos</p>
        </article>
        <article class="institutional-statistics-items">
            <h6>Proyectos en marcha</h6>
            <p class="quantities">15</p>
            <p class="details">18 nuevos</p>
        </article>
    </div>

    <!-- Parte inferior -->
     <!-- Barra de navegación -->
      <app-navbar-institutional></app-navbar-institutional>
   <!--Bonton agregar-->
    <div class="container-btn">
        <button class="btn-add" type="button"><i class="pi pi-plus"></i></button>
        <div>Añadir</div>
    </div>
</div>

