/*CONTENEDOR PRINCIPAL DEL USER*/
.container-institutional {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    width: 100%;
    max-width: 1200px;
    height: 92vh;
    align-items: center;
    justify-content: center;
    padding: 0rem;
    box-sizing: border-box;
}






/*boton del final*/
.container-btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
}

.btn-add {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #EEEEEE;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
