.container-position{
    float: right;
  }

/*CONTENEDOR PRINCIPAL DEL USER*/
.container-institutional {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-top: 9vh;
    max-width: 82vw;
    width: 100%;
    row-gap: 1rem;
    height: 90vh;
    padding: 0.7rem 1.5rem;
}

/*boton del final*/
.container-btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    align-items: center;
    width: 100%;
}

.btn-add {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #EEEEEE;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
