<div class="container-institutional">
    <!-- Parte superior -->
    <div class="institutional-statistics">
        <article class="institutional-statistics-items">
            <h6>Cantidad de alumnos</h6>
            <p class="quantities">300</p>
            <p class="details">18 nuevos</p>
        </article>
        <article class="institutional-statistics-items">
            <h6>Cantidad de profesores</h6>
            <p class="quantities">50</p>
            <p class="details">18 nuevos</p>
        </article>
        <article class="institutional-statistics-items">
            <h6>Cantidad de cursos</h6>
            <p class="quantities">20</p>
            <p class="details">18 nuevos</p>
        </article>
        <article class="institutional-statistics-items">
            <h6>Proyectos en marcha</h6>
            <p class="quantities">15</p>
            <p class="details">18 nuevos</p>
        </article>
    </div>

    <!-- Parte inferior -->
    <div class="institutional-tables">
        <div class=".table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Legajo</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Grado</th>
                        <th>Turno</th>
                        <th>Tutores</th>
                        <th>Acción</th>
                    </tr>
                </thead>
            </table>
            <div class="table-body">
                <table>
                    <tbody>
                        @for (person of persons; track person.id) {
                            <tr>
                                <td>{{ person.nombre }}</td>
                                <td>{{ person.legajo }}</td>
                                <td>{{ person.fechaNacimiento }}</td>
                                <td>{{ person.grado }}</td>
                                <td>{{ person.turno }}</td>
                                <td>{{ person.tutores }}</td>
                                <td>{{ person.accion }}</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-btn">
        <button class="btn-add" type="button"><i class="pi pi-plus"></i></button>
        <div>Añadir</div>
    </div>
</div>
