<div class="container">

  <!-- Parte inferior -->
  <div class="asistencia-header">
    <!-- Botones a la izquierda -->
    <div class="left-buttons">
      <button class="btn-carga-hoy" *ngIf="!asistencia()" (click)="toggleAsistencia()">Carga de hoy</button>
      <button class="btn-hoy-cargado" *ngIf="asistencia()" (click)="toggleAsistencia()">Hoy cargado</button>
    </div>

    <!-- Iconos a la derecha -->
    <div class="right-icons">
      <button class="icon-btn">
        <i class="pi pi-pencil"></i> <!-- Ícono de lápiz -->
      </button>
      <button class="icon-btn">
        <i class="pi pi-calendar"></i> <!-- Ícono de calendario -->
      </button>
    </div>
  </div>

  <!-- Parte inferior -->
  <div class="institutional-tables">
      <div class=".table-wrapper">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Nombre</th>
                <th>Asistencia</th>
                <th>Justificativo</th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miércoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
              </tr>
            </thead>
            <tbody>
              @for (person of persons; track person.id) {
                <tr>
                  <td><img class="student-photo" src="https://www.conmishijos.com/uploads/_trabalenguas.jpg" alt="Foto del alumno"></td>
                  <td>{{ person.nombre }}</td>
                  <td>{{ person.Asistencia }}</td>
                  <td>{{ person.Justificativo }}</td>
                  <td>
                    <label class="custom-checkbox">
                      <input type="checkbox" [(ngModel)]="person.Lunes" />
                      <span class="checkmark"></span>
                    </label>
                  </td>
                  <td>
                    <label class="custom-checkbox">
                      <input type="checkbox" [(ngModel)]="person.Martes" />
                      <span class="checkmark"></span>
                    </label>
                  </td>
                  <td>
                    <label class="custom-checkbox">
                      <input type="checkbox" [(ngModel)]="person.Miercoles" />
                      <span class="checkmark"></span>
                    </label>
                  </td>
                  <td>
                    <label class="custom-checkbox">
                      <input type="checkbox" [(ngModel)]="person.Jueves" />
                      <span class="checkmark"></span>
                    </label>
                  </td>
                  <td>
                    <label class="custom-checkbox">
                      <input type="checkbox" [(ngModel)]="person.Viernes" />
                      <span class="checkmark"></span>
                    </label>
                  </td>
                </tr>
              }
            </tbody>
          </table>

      </div>
  </div>
  <div class="container-btn">
      <button class="btn-add" type="button"><i class="pi pi-plus"></i></button>
      <div>Añadir</div>
  </div>
  <p-toast></p-toast>
</div>

