.container-institutional {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  height: 92vh;
  align-items: center;
  justify-content: center;
  padding: 1.9rem;
  box-sizing: border-box;
}

.institutional-statistics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.institutional-statistics-items {
  background-color: #EEEEEE;
  padding: 1rem;
  border-radius: 10px;
  text-align: start;
}

.institutional-statistics-items .details {
  font-size: 0.5rem;
}

.quantities {
  margin-bottom: 0.7rem;
  margin-top: 0.2rem;
}

/*Estilos de la tabla*/
.institutional-tables {
  height: 50vh;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  border: 2px solid #EEEEEE;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 1.25rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  border: none;
  table-layout: fixed;
}

thead {
  background-color: #EEEEEE;
  border-bottom: 2px solid #EEEEEE;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;

}

.table-body {
  height: calc(52vh - 40px);
  overflow-y: auto;
}
.table-body::-webkit-scrollbar {
  width: 0;
}
td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #dddddd;
  font-size: 0.75rem;

}

th {
  background-color: #f0efef;
  font-weight: 600;
  letter-spacing: 0.05rem;
  padding: 1.2rem 1rem;
  text-align: left;
  border-bottom: 1px solid #dddddd;

}
td img{
  width: 3.25rem;
  border-radius: 100%;
}
tr:nth-child(odd) {
  background-color: #FFFFFF;
}

tr:nth-child(even) {
  background-color: #F7F7F7;
}

tr:hover {
  background-color: #f1f1f1;
}

th{
  background-color: #662288;
  color: white;

}

.table-body::-webkit-scrollbar-thumb {
  background: #CCCCCC;
  border-radius: 4px;
}

/*botyon*/
.container-btn {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}

.btn-add {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #EEEEEE;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow{
  font-size: 0.7em;
}

.btn-cta{
  width: 3.5rem;
  height: 1.6rem;
  border-radius: 15px;
  border: 1px solid #adaaaa;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 0.7rem;
  background-color: transparent;
}

.barra-navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(193, 193, 193);
  width: 100%;
  margin-bottom: 1rem;
}

.opciones-izquierda button {
  margin-right: 15px;
  border: none;
  padding: 10px;
  color: rgb(167, 167, 167);
  cursor: pointer;
  position: relative;
  background-color: transparent;
}

.opciones-izquierda button.active {
  position: relative;
}

.opciones-izquierda button.active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.5px;
  height: 1.5px;
  background-color: rgb(94, 94, 94);
  border-radius: 3px;
  box-shadow: 0px 1px 1px rgba(94, 94, 94, 0.5);
}

.iconos-derecha {
  display: flex;
  gap: 15px;
}
/* Estilo general de la tabla */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  vertical-align: middle;
}

/* Estilo para la imagen */
.student-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* Ocultar el checkbox original */
.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Crear el estilo personalizado para la casilla */
.custom-checkbox .checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
}

/* Icono de la "tilde" (✓) cuando está seleccionado */
.custom-checkbox input[type="checkbox"]:checked + .checkmark::before {
  content: "✓";
  position: absolute;
  top: 0;
  left: 0;
  color: green;
  font-size: 1.25rem;
  font-weight: bold;
}

/* Icono de la "x" (✕) cuando no está seleccionado */
.custom-checkbox input[type="checkbox"]:not(:checked) + .checkmark::after {
  content: "✕";
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  font-size: 1.25rem;
  font-weight: bold;
}

.asistencia-header {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos a los lados */
  width: 100%;
  padding: 1.25rem;
 }

.left-buttons {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
}

.btn-carga-hoy, .btn-hoy-cargado {
  padding: 8px 16px;
  background-color: #E9511d; /* Color del botón */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.btn-carga-hoy:hover, .btn-hoy-cargado:hover {
  background-color: #fc4002; /* Efecto hover en los botones */
}

.right-icons {
  display: flex;
  gap: 10px; /* Espacio entre los íconos */


}

.icon-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;

}

.icon-btn i {
  color: #E9511d; /* Color de los íconos */
}

.icon-btn:hover i {
  color: #f53f02; /* Efecto hover en los íconos */
}
