<div class="new-post-container">
    <div class="post-header">
      <img src="novedades1.png" alt="Foto de perfil" class="profile-pic">
      <textarea [(ngModel)]="newPostText" class="post-input" placeholder="¿Qué queres contar hoy?"></textarea>
    </div>
    <hr class="divider">
    <div class="post-footer">
      <button class="post-button" (click)="addPost()">Publicar</button>
    </div>
    <p-toast></p-toast>
  </div>

  <!-- Publicaciones -->
   @for (post of posts; track post) {
    <app-post-news-grade
    [userImage]="post.userImage"
    [userName]="post.userName"
    [postText]="post.postText"
    [likes]="post.likes"
    [comments]="post.comments">
  </app-post-news-grade>
   }
