.institutional-tables {
    height: 50vh;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid #EEEEEE;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    border: none;
    table-layout: fixed; 
}

thead {
    background-color: #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
    position: -webkit-sticky; 
    position: sticky;
    top: 0; 
    z-index: 1; 
}

.table-body {
    height: calc(52vh - 40px);
    overflow-y: auto;
}
.table-body::-webkit-scrollbar {
    width: 0;
}
td {
    padding: 0.8rem 1rem;
    text-align: left;
    border-bottom: 1px solid #dddddd;
    font-size: 0.75rem;
}

th {
    background-color: #f0efef;
    font-weight: 600;
    letter-spacing: 0.05rem;
    padding: 0rem 1rem;
    text-align: left;
    border-bottom: 1px solid #dddddd;
    font-size: 0.9rem;
    height: 8vh;
}

tr:nth-child(odd) {
    background-color: #FFFFFF;
}

tr:nth-child(even) {
    background-color: #F7F7F7;
}

tr:hover {
    background-color: #f1f1f1;
}

.table-body::-webkit-scrollbar-thumb {
    background: #CCCCCC;
    border-radius: 4px;
}
.picture-table{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 0.6rem;
}
.picture-table img{
    border-radius: 50%;
    background-color: #adaaaa;
    width: 2rem;
    height: 2rem;
}
.btn-cta{
    width: 3.5rem;
    height: 1.6rem;
    border-radius: 15px;
    border: 1px solid #adaaaa;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.7rem;
    background-color: transparent;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .modal-header {
    padding: 16px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-body {
    padding: 16px;
  }
  
  .modal-footer {
    padding: 16px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: flex-end;
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  