<div class="container">

    <div class="form-container">
        <h2 class="title"><i class="pi pi-arrow-left
         back" (click)="navigateToGrade()"> </i> Nombre del grado</h2>
        <form id="grade-form" class="">
            <!-- Línea para Grado y Sección -->
            <div class="form-group">
                <label for="grado">Grado:</label>
                <select id="grado" name="grado">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>

                <label for="seccion">Sección:</label>
                <select id="seccion" name="seccion">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                </select>
            </div>

            <!-- Línea para Turno y Asignatura -->
            <div class="form-group">
                <label for="turno"><i class="pi pi-calendar-clock turno"> </i> Turno:</label>
                <select id="turno" name="turno">
                    <option value="mañana">Mañana</option>
                    <option value="tarde">Tarde</option>
                    <option value="noche">Noche</option>
                </select>

                <label for="asignatura">Asignatura:</label>
                <select id="asignatura" name="asignatura">
                    <option value="matematicas">Matemáticas</option>
                    <option value="espanol">Español</option>
                    <option value="ciencias">Ciencias</option>
                    <option value="historia">Historia</option>
                    <option value="arte">Arte</option>
                </select>
            </div>

            <!-- Línea para Profesor -->
            <div class="form-group">
                <label for="profesor">Profesor:</label>
                <select id="profesor" name="profesor">
                    <option value="profesor1">Profesor Juan Pérez</option>
                    <option value="profesor2">Profesora María García</option>
                    <option value="profesor3">Profesor Luis Hernández</option>
                    <option value="profesor4">Profesora Ana López</option>
                    <option value="profesor5">Profesor Carlos Rodríguez</option>
                </select>
            </div>

            <!-- Botón para enviar el formulario -->
            <div class="button-container">
                <button type="submit">Crear Grado</button>
            </div>
        </form>
    </div>
</div>
