<div class="container">

    <div class="form-container">
        <h2 class="title"> Nombre del grado</h2>
        <form id="grade-form" class="">
            <!-- Línea para Grado y Sección -->
            <div class="form-group">
                <label for="grado">Grado:</label>
                <select id="grado" name="grado">
                    <option value="PRIMERO">1</option>
                    <option value="SEGUNDO">2</option>
                    <option value="TERCERO">3</option>
                    <option value="CUARTO">4</option>
                    <option value="QUINTO">5</option>
                    <option value="SEXTO">6</option>

                </select>

                <label for="seccion">Sección:</label>
                <select id="seccion" name="seccion">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>

                </select>
            </div>

            <!-- Línea para Turno y Asignatura -->
            <div class="form-group">
                <label for="turno"><i class="pi pi-calendar-clock turno"> </i> Turno:</label>
                <select id="turno" name="turno">
                    <option value="MANANA">Mañana</option>
                    <option value="TARDE">Tarde</option>
                    <option value="NOCHE">Noche</option>
                </select>

                <label for="asignatura">Asignatura:</label>
                <select id="asignatura" name="asignatura">
                    <option value="MATEMATICAS">Matemáticas</option>
                    <option value="CIENCIAS">Español</option>
                    <option value="LENGUAJE">Ciencias</option>
                    <option value="HISTORIA">Historia</option>
                </select>
            </div>

            <!-- Línea para Profesor -->
            <div class="form-group">
                <label for="profesor">Profesor:</label>
                <select id="profesor" name="profesor">
                    <option value="profesor1">Profesor Juan Pérez</option>
                    <option value="profesor2">Profesora María García</option>
                    <option value="profesor3">Profesor Luis Hernández</option>
                    <option value="profesor4">Profesora Ana López</option>
                    <option value="profesor5">Profesor Carlos Rodríguez</option>
                </select>
            </div>

            <!-- Botón para enviar el formulario -->
            <div class="button-container">
                <button type="submit">Crear Grado</button>
            </div>
        </form>
    </div>
</div>
